<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :username,
                hint: "leave it blank if you don't want to change it",
                required: false,
                autofocus: true,
                input_html: { autocomplete: "username", placeholder: "username" } %>
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "new-password", placeholder: "leave it blank if you don't want to change it "} %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password", placeholder: "leave it blank if you don't want to change it" } %>
    <%= f.input :current_password,
                required: true,
                input_html: { autocomplete: "current-password", placeholder: "we need your current password to confirm your changes" } %>

    <%= f.input :photo, as: :file, required: false, hint: "leave it blank if you don't want to change it" %>
    <%= f.input :bio, placeholder: 'Write a short bio (150 max)', input_html: { maxlength: 150 } %>
  </div>

  <div class="form-inputs">Networks Usernames :
    <%= f.simple_fields_for :network_usernames do |network| %>
      <%= network.input :twitter, input_html: { placeholder: "leave it blank if you don't want to change it"} %>
      <%= network.input :facebook, input_html: { placeholder: "leave it blank if you don't want to change it"} %>
      <%= network.input :instagram, input_html: { placeholder: "leave it blank if you don't want to change it"} %>
      <%= network.input :tiktok, input_html: { placeholder: "leave it blank if you don't want to change it"}%>
      <%= network.input :youtube, input_html: { placeholder: "leave it blank if you don't want to change it"} %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

<%= link_to "Back", :back %>
