<div class="show-header">
  <div class="show-header__infos">
      <img src="https://placehold.in/300x300" alt="avatar" class="show-header__avatar">
      <h3><%= @first_name %> <%= @last_name %></h3>
      <p><%= @bio%></p>
  </div>
</div>
<p>&nbsp My upcoming live streams</p>
<% if @lives.any? %>
  <div class="cards-container">
    <%= render @next_lives %>
  </div>
<%end%>

<p>&nbsp My past live streams</p>
<% if @lives.any? %>
  <div class="cards-container">
    <%= render @previous_lives %>
  </div>
<% end %>

<div class="engage">
  <%=link_to "Claim your LiveTree",  root_path , class:"btn btn--primary btn--engage"%>
</div>
