<nav class="navbar">
  <div class="navbar__logo">
    <%= link_to "LiveTree", root_path %>
  </div>

  <!-- TODO: Add the search bar here -->

  <div class="navbar__menu">
    <% if current_user %>
      <%= link_to  profile_path(current_user.username)  do %>
        <h5>My Account</h5>
      <%end%>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete, data: {turbo_method: :delete} %>
    <% else %>

      <%= link_to "Sign in", new_user_session_path %>
      <%= link_to "create my account", new_user_registration_path %>
    <% end %>
  </div>
</nav>
